.module-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 35px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 50px;
  margin-right: 50px;
}

@media screen and (max-width:768px) {
  .module-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 16px;
    margin: 16px;
    margin-left: 25px;
    margin-right: 25px;
  }
}